body {
  height: 600px;
  width: 900px;
  margin: 0px;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard>* {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard .details ul {
  list-style: none;
}

.billboard .rating {
  margin: 0.8em;
}